<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>Caythe</string>

    <key>fileTypes</key>
    <array>
        <string>ct</string>
    </array>

    <key>foldingStartMarker</key>
    <string>/\*\*|\{\s*$</string>
    <key>foldingStopMarker</key>
    <string>\*\*/|^\s*\}</string>

    <key>patterns</key>
    <array>
        <dict>
            <key>captures</key>
            <dict>
                <key>1</key>
                <dict>
                    <key>name</key>
                    <string>punctuation.definition.comment.caythe</string>
                </dict>
            </dict>
            <key>match</key>
            <string>(//).*$\n?</string>
            <key>name</key>
            <string>comment.line.caythe</string>
        </dict>

        <dict>
            <key>begin</key>
            <string>/\*</string>
            <key>end</key>
            <string>\*/</string>
            <key>name</key>
            <string>comment.block.caythe</string>
        </dict>

        <dict>
            <key>match</key>
            <string>-?\b[0-9]+(\.[0-9]+)?\b</string>
            <key>name</key>
            <string>constant.numeric.caythe</string>
        </dict>

        <dict>
            <key>begin</key>
            <string>"</string>
            <key>end</key>
            <string>"</string>
            <key>name</key>
            <string>string.quoted.double.caythe</string>

            <key>patterns</key>
            <array>
                <dict>
                    <key>match</key>
                    <string>\\.</string>
                    <key>name</key>
                    <string>constant.character.escape.caythe</string>
                </dict>
            </array>
        </dict>

        <dict>
            <key>match</key>
            <string>\b(and|annotation|break|case|class|const|continue|delegate|do|else|for|if|import|interface|not|or|package|property|public|read|readwrite|return|switch|while|write|)\b</string>
            <key>name</key>
            <string>keyword.language.caythe</string>
        </dict>

        <dict>
            <key>match</key>
            <string>\b(false|true)\b</string>
            <key>name</key> <string>constant.language.caythe</string>
        </dict>

        <dict>
            <key>match</key>
            <string>[\(\)\[\]\{\}\;\,\.]</string>
            <key>name</key>
            <string>punctuation.caythe</string>
        </dict>
    </array>

    <key>scopeName</key>
    <string>source.caythe</string>
    <key>uuid</key>
    <string>473B4094-8E41-4E70-8F43-FC5B270AFE06</string>
</dict>
</plist>
